<body class="ganaste">
    <h1>GANASTE</h1>
    <section>
        <div>
            <p>¡Has conseguido escapar de la cárcel!</p>
            <p>Tiempo final: <strong>@ViewBag.TiempoFinal</strong></p>   
        </div>
    </section>
</body>