<body class="ganaste">
    <h1>GANASTE</h1>
    <section>
        <div>
            <h2>¡Has conseguido escapar de la cárcel!</h2>
            <p><strong>ESTADÍSTICAS</strong></p>
            <ul>
            <li>Usuario: <strong>@ViewBag.JugadorNombre</strong></li>   
            <li>Tiempo final: <strong>@ViewBag.TiempoFinal</strong></li>
            <li>Intentos Fallidos: <strong>@ViewBag.IntentosFallidos</strong></li>    
            </ul>
        </div>
    </section>
</body>