
<body class="celda">  
<section>
    <div>
        <h1>@ViewBag.nombreSala1</h1>

        <p>@ViewBag.pista1</p>
        <form action='@Url.Action("Celda", "Home")' method="post">
        <input autocomplete = "off" type="int" name="claveIngresada" maxlength="5" />       
        <button type="submit">Probar contraseña</button>
        </form>

    </div>
</section>
</body>