
<body class="salida">
    
<section>
    <div>
        <h1>@ViewBag.nombreSala4</h1>

        <h1>@ViewBag.pista4</h1>
        <form action='@Url.Action("Patio", "Home")' method="post">
        <input autocomplete = "off" type="int" name="claveIngresada" maxlength="5" />       
        <button type="submit">Probar contraseña</button>
        </form>

    </div>
</section>
</body>