 
<body class="salidaOculta">
<h1>SALIDA OCULTA</h1>
<section>
    <div>
        

        <p>Tengo cuatro letras</p>
        <p>Si querés salir de esta prisión, primero pensa con decisión</p>
        <p>No soy llave, ni soy candado, pero sin mi estas atrapado</p>
        <p><strong>¿Qué soy?</strong></p>
        <form action='@Url.Action("SalidaSalaOculta", "Home")' method="post">
            <input autocomplete = "off" type="text" name="claveIngresada" maxlength="4" />       
            <button type="submit">Probar palabra</button>
        </form>

    </div>
</section>
</body>
 