<h1> @ViewBag.nombreSala</h1>
<body class="celda">
    

<section>
    <div>
        <h1>Bienvenido, @ViewBag.JugadorNombre</h1>
        <h1>Estás en la sala: @ViewBag.nombreSala</h1>

    </div>
</section>
</body>