 
<body class="salidaOculta">
<h1>SALIDA</h1>
<section>
    <div>
        

        <p>Tengo cuatro letras.</p>
        <p>Sin mí, estás perdido.</p>
        <p><strong>¿Qué soy?</strong></p>
        <form action='@Url.Action("SalidaSalaOculta", "Home")' method="post">
            <input autocomplete = "off" type="text" name="claveIngresada" maxlength="4" />       
            <button type="submit">Probar palabra</button>
        </form>

    </div>
</section>
</body>
 