
<body class="pasillo">
    

<section>
    <div>
        <h1>@ViewBag.nombreSala2</h1>

        <h1>@ViewBag.pista2</h1>
        <form action='@Url.Action("Pasillo", "Home")' method="post">
            <input type="checkbox" name="claveParte" value="0" />  
            <input type="checkbox" name="claveParte" value="1" />
            <input type="checkbox" name="claveParte" value="2" />
            <input type="checkbox" name="claveParte" value="3" />
            <input type="checkbox" name="claveParte" value="4" />

            <button type="submit">Probar Clave</button>
        </form>

    </div>
</section>
</body>