
<body class="pasillo">   
<section>
    <div>
        <h1>Pasillo</h1>

        <p><strong>Lograste salir, pero el pasillo está lleno de cámaras. Puedes observar junto a la puerta un panel con 5 luces, las cuales pueden prenderse y apargarse de manera independiente.</strong></p>
        <p><strong>Sobre este, se encuntra un papel que dice: 'XIX?'</strong></p>
        <form action='@Url.Action("Pasillo", "Home")' method="post">
            <input type="checkbox" name="clave1"/>  
            <input type="checkbox" name="clave2"/>
            <input type="checkbox" name="clave3"/>
            <input type="checkbox" name="clave4"/>
            <input type="checkbox" name="clave5"/>
            <button type="submit">Probar Clave</button>
        </form>
    </div>
</section>
</body>