
<body class="salida">
<h1>SALIDA</h1>
    
<section>
    <div>
        

        <p><strong>Lograste abrir la puerta del patio. Tu libertad se encuentra al otro lado de esta gran puerta.</strong> </p>
         <p><strong>El lugar esconde un interruptor, el cual activa el panel en donde pondras la clave</strong></p>

        <form action='@Url.Action("Salida", "Home")' method="post">     
        <button></button>
        </form>
       

    </div>
</section>
</body>