
<body class="patio">
<h1>PATIO</h1>

<section>
    <div>
        <p><strong>Has llegado al patio de la carcel, para salir de este debes ingresar 4 números, no pierdas tu tiempo buscando.</strong></p>
        <p><strong>Solo aquel que capture el presente exacto hallará tu salida ⌛</strong></p>
        <form action='@Url.Action("Patio", "Home")' method="post">
        <input autocomplete = "off" type="text" name="claveIngresada" maxlength="4" />       
        <button type="submit">Probar contraseña</button>
        </form>
    </div>
</section>
</body>