
<body class="pasillo">
    

<section>
    <div>
        <h1>@ViewBag.nombreSala2</h1>

        <h1>@ViewBag.pista2</h1>
        <form action='@Url.Action("Pasillo", "Home")' method="post">
            <input type="checkbox" name="clave1" />  
            <input type="checkbox" name="clave2" />
            <input type="checkbox" name="clave3"/>
            <input type="checkbox" name="clave4"/>
            <input type="checkbox" name="clave5"/>

            <button type="submit">Probar Clave</button>
        </form>
    </div>
</section>
</body>