
<body class="salida">
    
<section>
    <div>
        <h1>@ViewBag.nombreSala4</h1>

        <p>Lograste abrir la puerta del patio. Tu libertad se encuentra al otro lado de esta gran puerta. </p>
        <form action='@Url.Action("Salida", "Home")' method="post">     
        <button type="submit"></button>
        </form>
       

    </div>
</section>
</body>