html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
}


footer {
  background-color: #f8f9fa;
  clear: both;
}
.celda{
  background-image: url("/img/Sala1celda.jpg");
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
}
.celda div h1{
  color: #f8f9fa;
}
.celda div p{
  color: red;
}
.pasillo{
  background-image: url("/img/Sala2Pasillo.jpg");
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
}
.pasillo div h1{
  color: #f8f9fa;
}
.pasillo div p{
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(168, 29, 29);
}

.patio {
  background-image: url("/img/Sala3patio.jpg");
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;
}
.salida{
  background-image: url("/img/Sala4Salida.jpg");
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;
}
.salida div p{
  color: #ff0000; 
}
.salida div h1{
  color: #f8f9fa;
}

.ganaste {
  background-image: url("/img/ganasteImg.jpg");
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;
}